<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="app.webmanifest">
  <link rel="icon" href="./favicon.png">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <title>Restaurant Apps</title>
</head>

<body>

  <header>
  <a href="#mainContent" class="skip-link">Skip to content?</a>

  <!-- Navigation Bar Mobile -->
  <nav id="drawer">
    <div id="nav-icon" class="nav-icon">
      <img src="./favicon.png" class="logo" alt="logo">
      <p>Hunger Apps</p>
    </div>

    <ul>
      <li><a href="/#/home" tabindex="0">Home</a></li>
      <li><a href="#/favorite" tabindex="0">Favorite</a></li>
      <li><a href="https://github.com/nafiadiansyah" target="_blank" tabindex="0">About Us</a></li>
    </ul>

    <button class="menu-toggle" aria-label="Toggle menu">
      &#9776;</button>
  </nav>

  <!-- Jumbotron -->
  <div class="hero">
    <div class="herocontent">
      <h1 class="herotitle">Are You Hungry?</h1>
      <p class="herosubtitle">Recommendations the best restaurants for your hunger.</p>
    </div>
  </div>
</header>
  <!-- Content -->
  <main id="mainContent" tabindex="0">
    <loading-indicator></loading-indicator>
    <div class="container">
    </div>
  </main>


  <!-- Footer -->
  <footer class="footer">
    <p>Made with &#x2764 - <a href="https://www.instagram.com/nafiadnsyh_" class="social"> Find Me</a></p>
  </footer>
</body>

</html>